heavy-math.md
docs/logo/logo-export-before-opti.svg
docs/schemas/memory-places
docs/schemas/empty.excalidraw
debug.md
tools.md
app/src-tauri/gen/android
app/core/target

# Reference files that are wrong must not be versionned, they are saved on disk for manual comparisons
app/core/tests/reference/*-wrong.html
app/core/bench/target
app/core/bench/callgrind*
app/core/bench/perf*
