/* Style specific to the desktop app */

@theme {
    --color-black: #0f191eff; /* Lighter black used in the logo */
    --color-white: #f5fcfb; /* Blued white as backgroung of the logo and also at the top left of the square logo */
    --color-sea: #394e98; /* Blue at bottom right the square logo */
    --color-sea-light: #6e7fb4; /* Lighter version of the color "sea" */
}

