@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
    font-family: Cantarell, Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: black;
    background-color: white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/*Remove Tailwind typography's backticks around inline code snippets */
:not(pre) code::before, :not(pre) code::after {
	content: none !important;
}

:not(pre) > code {
	@apply bg-[#646cff]/20 px-1 mx-1 py-0.5 rounded-md break-inside-avoid
}

/*Remove Tailwind typography's double quotes around quotes block */
blockquote p::before, blockquote p::after {
	content: none !important;
}

.nice-gradient {
		background: linear-gradient(to right, #0f191eff 0%, #394e98ff  100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		width: fit-content;
    max-width: 100%;
}

/*Style used in documentations. */
.table td, .table th {
	@apply border text-center px-3 py-2
}

/* Tree Sitter random theme */
.keyword {
    color: lightgreen;
}

.variable {
    color: orange;
}

.delimiter {
    color: gray;
}

.operator {
    color: violet;
}
.constant {
    color: yellow;
}
.type {
    color: cyan;
}

.function {
    color: #ed5fad;
}

.punctuation {
    color: #ed6630;
}

a {
    color: #394e98ff
}

a:hover {
    color: #535bf2;
}

.prose {
    li {
       @apply ml-10
    }
  
    ul:has(> li:has(> input[type="checkbox"])) {
        @apply !mb-0;
    }

    input[type=checkbox] {
        @apply mr-2
    }
    input[type=checkbox] + p {
        display: inline;
    }
}
